<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>edu.acc.java3.table.Controller</servlet-class>
        <init-param>
            <param-name>rows.default</param-name>
            <param-value>10</param-value>
        </init-param>
        <init-param>
            <param-name>rows.min</param-name>
            <param-value>1</param-value>
        </init-param>
        <init-param>
            <param-name>rows.max</param-name>
            <param-value>50</param-value>
        </init-param>
        <init-param>
            <param-name>rows.fill</param-name>
            <param-value><![CDATA[&nbsp;&nbsp;&nbsp;]]></param-value>
        </init-param>
        <init-param>
            <param-name>table.bg</param-name>
            <param-value>66CCCC</param-value>
        </init-param>
        <init-param>
            <param-name>table.width</param-name>
            <param-value>65</param-value>
        </init-param>
        <init-param>
            <param-name>table.colors</param-name>
            <param-value>red,orange,yellow,green,blue,purple,black,white</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>main</welcome-file>
    </welcome-file-list>
</web-app>
